<p-toast></p-toast>


<div style=" margin-top: 50px">
  <span class="p-float-label">
      <input id="float-input" type="number" [formControl]="rowCount" name="rowCount" pInputText >
      <label for="float-input">Enter Row Count</label>
      <button
      type="button"
      pButton
      pRipple
      label="Submit"
      class="p-button-sm p-button-success"
      style="margin-left:30px;height:30px;"
      (click)="makeTableData()"
    ></button>
  </span>

</div>

<div class="table-body">
  <div class="header-app">
    <h4>Route Card</h4>
    <div>
      <button class="header-button" style="margin-right:10px;">
        <i
          class="pi pi-ellipsis-v"
          style="font-size: 11px; margin-right: 4px"
        ></i
        >Action
      </button>
      <button
        type="button"
        pButton
        pRipple
        label="Submit"
        class="p-button-sm p-button-success"
        style="height:30px;"
        (click)="submit()"
      ></button>
    </div>
  </div>
  <p-table [columns]="cols" [value]="routecards">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowData
      let-columns="columns"
      let-rowIndex="rowIndex"
    >
      <tr>
        <td style="display: flex; align-items: center">
          <i class="pi pi-angle-right"></i>{{ rowData.name }}
        </td>
        <td>{{ rowData.process }}</td>
        <td>
          <p-triStateCheckbox [(ngModel)]="rowData.outbom" [ngClass]="rowData.outbom == true ? 'checkbox-checked':''"></p-triStateCheckbox>
          <!-- <input
            type="checkbox"
            name="outbom"
            [value]="rowData.outbom"
            (ngModelChange)="bomChange('outbom', $event, rowIndex)"
          /> -->
        </td>
        <td>
          <p-triStateCheckbox [(ngModel)]="rowData.inbom" ></p-triStateCheckbox>

          <!-- <input
            type="checkbox"
            name="inbom"
            [value]="rowData.inbom"
            (change)="bomChange('inbom', $event, rowIndex)"
          /> -->
        </td>
        <td>{{ rowData.type }}</td>
        <td>{{ rowData.start_date }}</td>
        <td>{{ rowData.end_date }}</td>
        <td>{{ rowData.assignee }}</td>
        <td>{{ rowData.status }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer" let-columns>
      <ng-container *ngIf="routecards && routecards.length === 0">
      <tr>
        <td [attr.colspan]="columns.length">
          No records found
        </td>
      </tr>
      </ng-container>
    </ng-template>

  </p-table>
</div>
