/* You can add global styles to this file, and also import other style files */
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #005001 !important;
  background: #005001 !important;
}

.p-highlight,.p-focus{
  background-color: red !important;
  border-color: red !important;
}

